@charset "UTF-8";
/* line 18, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 25, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 31, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 37, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 55, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 65, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 71, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 82, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 87, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 93, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 98, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 103, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 112, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 118, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 125, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 130, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 136, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 143, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 147, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 157, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
img {
  border: 0;
}

/* line 162, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 172, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 182, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 190, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 201, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
button, .btn,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 210, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
button, .btn,
input {
  line-height: normal;
}

/* line 220, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
button, .btn,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* line 228, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
button[disabled], [disabled].btn,
input[disabled] {
  cursor: default;
}

/* line 235, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 242, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 251, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 257, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
button::-moz-focus-inner, .btn::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 264, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 275, /Users/markdurrant/repos/pebble-sites/app/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 12, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 17, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
body {
  background-color: white;
  color: #6b7482;
  font-size: 18px;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 1.45;
  margin-bottom: 100px;
}

/* line 34, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
dl,
blockquote,
pre,
button,
.btn {
  margin: 0 0 18px 0;
}

/* line 38, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
ol {
  padding-left: 1.4em;
}
/* line 42, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
ol ol,
ol ol ol {
  margin-bottom: 0;
}

/* line 47, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
ul {
  padding: 0;
  list-style: none;
}
/* line 52, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
ul ul,
ul ul ul {
  margin-bottom: 0;
}

/* line 57, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
dt {
  font-weight: bold;
}

/* line 61, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
dd {
  margin-left: 1.4em;
}

/* line 65, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
a {
  color: #0099e6;
  font-weight: 700;
}
/* line 70, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
a:hover, a.hover {
  color: #006699;
}
/* line 75, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
a:active, a.active {
  color: #00334d;
}
/* line 81, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
a.visited {
  color: #33bbff;
}

/* line 86, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
blockquote {
  margin: 0;
  padding: 0 60px;
  border-left: 4px solid #0099e6;
  font-style: italic;
  font-weight: 700;
}
/* line 93, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
blockquote p:before {
  margin: 0 .2em 0 -.6em;
  content: "“";
}
/* line 98, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
blockquote p:after {
  content: "”";
}

/* line 103, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
pre {
  -ms-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: .85em 1.05em;
  background-color: #3d424a;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

/* line 114, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
p code,
p samp {
  -ms-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0 .4em;
  border: 1px solid #dfdfdf;
  background-color: whitesmoke;
}

/* line 122, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

/* line 131, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
button, .btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 10px 14px;
  text-transform: uppercase;
  border: 0;
  background-color: #0099e6;
  color: white;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
}
/* line 145, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
button:hover, .btn:hover, button.hover, .hover.btn,
input[type="button"]:hover,
input[type="button"].hover,
input[type="reset"]:hover,
input[type="reset"].hover,
input[type="submit"]:hover,
input[type="submit"].hover {
  background-color: #006699;
}
/* line 150, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
button:active, .btn:active, button.active, .active.btn,
input[type="button"]:active,
input[type="button"].active,
input[type="reset"]:active,
input[type="reset"].active,
input[type="submit"]:active,
input[type="submit"].active {
  background-color: #00334d;
}
/* line 154, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
button.disabled, .disabled.btn,
input[type="button"].disabled,
input[type="reset"].disabled,
input[type="submit"].disabled {
  background-color: #cccccc;
  cursor: default;
}

/* line 160, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
table {
  width: 100%;
  border: 1px solid #0099e6;
}

/* line 165, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
thead {
  text-align: left;
}

/* line 169, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
tr {
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #0099e6;
  border-right: 1px solid #0099e6;
}
/* line 174, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
tr:nth-child(odd) {
  background-color: #99ddff;
}
/* line 178, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
tr:last-child {
  border: 0;
}

/* line 183, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
th {
  padding: 2px 8px;
  background-color: #0099e6;
  color: white;
}

/* line 189, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
td {
  border-right: 1px solid #e6e6e6;
  padding: 2px 8px;
}
/* line 193, /Users/markdurrant/repos/pebble-sites/app/sass/_elements.scss */
td:last-child {
  border: 0;
}

/* line 5, /Users/markdurrant/repos/pebble-sites/app/sass/_helpers.scss */
.text-list {
  list-style: disc;
  padding-left: 1em;
}

/* line 11, /Users/markdurrant/repos/pebble-sites/app/sass/_helpers.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, /Users/markdurrant/repos/pebble-sites/app/sass/_helpers.scss */
.left {
  float: left;
}

/* line 21, /Users/markdurrant/repos/pebble-sites/app/sass/_helpers.scss */
.right {
  float: right;
}

/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_layout.scss */
.wrap {
  width: 100%;
  margin: 60px auto 0;
  padding-bottom: 100px;
}

/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #6b7482;
}

/* line 9, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.tera {
  font-size: 76px;
}

/* line 13, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.giga {
  font-size: 60px;
}

/* line 17, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.mega {
  font-size: 42px;
}

/* line 21, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.alpha, h1 {
  font-size: 30px;
}

/* line 25, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.beta, h2 {
  font-size: 26px;
}

/* line 29, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.gamma, h3 {
  font-size: 22px;
}

/* line 33, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.delta, h4 {
  font-size: 18px;
}

/* line 37, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.epsilon, h5 {
  font-size: 16px;
}

/* line 41, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.zeta, h6 {
  font-size: 12px;
}

/* line 69, /Users/markdurrant/repos/pebble-sites/app/sass/_typography.scss */
.call-out {
  font-family: "brandon-grotesque";
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.05;
}

/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-header {
  background: #0099e6;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  padding-left: 2px;
  transition: height .15s;
  z-index: 999;
}
/* line 14, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-header::before {
  content: '';
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top .15s;
  background: rgba(0, 119, 179, 0.25);
}
/* line 25, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-header.expanded {
  height: 158px;
}
/* line 28, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-header.expanded::before {
  top: 158px;
}

/* line 34, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-logo-container {
  display: inline-block;
  height: 40px;
  text-decoration: none;
  -webkit-perspective: 1000px;
  position: absolute;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
}

/* line 45, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-logo {
  padding: 9px 6px 8px;
  height: 100%;
  -webkit-transform-origin: 50% 0%;
  transition: -webkit-transform .3s, background .3s;
}

/* line 52, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-logo-flip {
  padding: 9px 6px 8px;
  height: 100%;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
  transition: -webkit-transform .3s, background .3s;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 63, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.nav-btn {
  text-indent: -99999px;
  height: 40px;
  width: 40px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: url("../img/menu-btn.svg") no-repeat 7px 7px;
}
/* line 74, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.nav-btn:hover {
  background-color: #0099e6;
}
/* line 78, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.nav-btn:focus {
  outline: none;
}

/* line 85, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-nav ul {
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  padding-top: 5px;
}
/* line 93, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-nav li {
  position: relative;
  transition: left .20s .075s;
  left: 100%;
  height: 37px;
}
/* line 99, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-nav li:nth-child(2) {
  transition: left .20s .125s;
}
/* line 103, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-nav li:nth-child(3) {
  transition: left .20s .2s;
}
/* line 108, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-nav a {
  color: white;
  text-decoration: none;
  display: block;
  width: 90px;
  padding: 0 6px 5px 0;
  text-align: right;
  font-size: 18px;
  border-bottom: 2px solid white;
  position: absolute;
  right: 6px;
}

/* line 123, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-header.expanded .site-nav ul {
  top: 0;
}
/* line 127, /Users/markdurrant/repos/pebble-sites/app/sass/_header.scss */
.site-header.expanded .site-nav li {
  left: 0;
}

/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_footer.scss */
.site-footer {
  background: #f0f0f0;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-body {
  background: 0;
}
/* line 7, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-body .wrap {
  padding-bottom: 0;
}
/* line 11, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-body::before {
  content: '';
  background-image: url("../img/it-homepage-bg.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* line 24, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-head {
  background-image: url("../img/it-homepage-bg.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 60px 60px 100px;
  position: relative;
  background-position: 0 -60px;
}
/* line 33, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-head::before {
  background: #4a5a70;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 45, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-head h1,
.homepage-head h2 {
  color: white;
}
/* line 50, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-head h1 {
  font-size: 90px;
  margin: 60px 0 0;
}
/* line 55, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.homepage-head h2 {
  line-height: 1.1;
  font-weight: 300;
}

/* line 61, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container {
  display: none;
  display: block;
  margin: 180px auto;
  width: 740px;
  background: white;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}
/* line 72, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container:hover {
  color: #0099e6;
}
/* line 75, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container:hover .block-2::after {
  -webkit-transform: rotateY(0deg);
}
/* line 79, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container:hover .block-1::after {
  -webkit-transform: rotateY(0deg);
}
/* line 85, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container .block-1,
.cta-container .block-2 {
  display: block;
  font-size: 44px;
  line-height: 1.2;
  position: relative;
}
/* line 92, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container .block-1 {
  font-weight: 300;
  padding: 50px 0 4px;
  -webkit-perspective: 1000px;
}
/* line 97, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container .block-1::after {
  background-image: url("../img/hack-icons.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform-origin: 0 50%;
  -webkit-transform: rotateY(180deg);
  transition: -webkit-transform .2s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #4a5a70;
}
/* line 114, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container .block-2 {
  padding: 4px 0 50px;
  -webkit-perspective: 1000px;
}
/* line 118, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container .block-2::after {
  padding: 27px 0 0;
  text-transform: uppercase;
  font-family: "brandon-grotesque";
  font-weight: 900;
  font-style: italic;
  -webkit-transform-origin: 100% 50%;
  -webkit-transform: rotateY(-180deg);
  transition: -webkit-transform .2s;
  content: attr(data-text);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #4a5a70;
}
/* line 139, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.cta-container .cta-help {
  display: none;
}

/* line 144, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.testamonials-container {
  background: white;
  padding: 120px 0 240px;
}
/* line 148, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.testamonials-container ul {
  width: 95%;
  margin: 0 auto;
}
/* line 153, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.testamonials-container li {
  width: 33.3333%;
  padding: 0 3%;
}
/* line 158, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.testamonials-container span {
  font-weight: 700;
}
/* line 162, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.testamonials-container .title {
  font-weight: 300;
}
/* line 165, /Users/markdurrant/repos/pebble-sites/app/sass/_homepage.scss */
.testamonials-container .company {
  display: block;
}

@media all and (min-width: 600px) {
  /* line 6, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-header {
    height: 60px;
    padding: 0 18px;
  }

  /* line 11, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-logo-container {
    height: 60px;
  }
  /* line 15, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-logo-container:hover .site-logo {
    -webkit-transform: rotateX(-90deg);
    background: #006699;
  }
  /* line 20, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-logo-container:hover .site-logo-flip {
    -webkit-transform: rotateX(0deg);
    background: #00aaff;
  }

  /* line 27, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-logo {
    padding: 14px 12px 10px;
  }

  /* line 31, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-logo-flip {
    padding: 14px 12px 10px;
  }

  /* line 35, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .nav-btn {
    display: none;
  }

  /* line 39, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav {
    position: static;
  }
  /* line 42, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav ul {
    display: block;
    position: static;
    width: auto;
    padding: 0;
  }
  /* line 49, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav li {
    float: left;
    left: 0;
  }
  /* line 54, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav a {
    margin: 0;
    width: auto;
    padding: 0;
    display: inline-block;
    height: 60px;
    text-decoration: none;
    position: static;
    text-align: center;
  }
  /* line 64, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav a:first-child {
    margin: 0;
  }
  /* line 68, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav a::after {
    content: attr(data-page);
    position: absolute;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #0099e6;
    color: white;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: rotateX(0deg);
    transition: -webkit-transform .3s, background .3s;
  }
  /* line 87, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav a:hover::after {
    -webkit-transform: rotateX(-90deg);
    background: #006699;
  }
  /* line 91, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav a:hover span {
    -webkit-transform: rotateX(0deg);
    background: #00aaff;
  }
  /* line 98, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav span {
    color: white;
    font-size: 20px;
    line-height: 59px;
    height: 60px;
    max-height: 60px;
    font-weight: 700;
    padding: 0 12px;
    display: inline-block;
    background: #0099e6;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(-90deg);
    transition: -webkit-transform .3s, background .3s;
  }
  /* line 113, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav li {
    position: relative;
  }
  /* line 116, /Users/markdurrant/repos/pebble-sites/app/sass/_media-queries.scss */
  .site-nav li:first-child {
    margin-left: 0;
  }
}
/* line 4, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide {
  padding: 1px 60px 120px;
}
/* line 7, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .image-container {
  background: #0099e6;
  display: inline-block;
  padding: 30px 30px 25px;
  color: white;
  font-weight: 700;
}
/* line 14, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .image-container span {
  margin: 10px 0 0;
}
/* line 19, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide span {
  display: block;
}
/* line 23, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide h2 {
  margin: 50px 0 4px -30px;
  text-transform: uppercase;
  color: #0099e6;
}
/* line 29, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .color-box {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 8px;
}
/* line 35, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .color-box:first-child {
  border: 1px solid #e6e6e6;
}
/* line 40, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .headers h2 {
  margin: 0 0 18px;
  color: #6b7482;
  text-transform: lowercase;
}
/* line 47, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .color-name,
.style-guide .color-value {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
/* line 53, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .color-value {
  color: #a1a8b2;
  margin: 4px 0 15px;
}
/* line 58, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .type-sizes span {
  margin-bottom: 25px;
}
/* line 62, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .type-name {
  margin-top: 25px;
  color: #a1a8b2;
}
/* line 66, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .type-name:first-child {
  margin-top: 0;
}
/* line 71, /Users/markdurrant/repos/pebble-sites/app/sass/_style-guide.scss */
.style-guide .on-bg {
  color: white;
  background: #0099e6;
  padding: 20px;
  margin-top: 25px;
}
