<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ company-name }}{{ title }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- typekit stuff -->
<script type="text/javascript" src="//use.typekit.net/jgz5xsv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- main styles -->
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
  {{> body }}
</body>
</html>