//===============================================================================
// FOOTER
//===============================================================================
.site-footer {
  background: darken($paper, 6);
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}