//===============================================================================
// HEADER
//===============================================================================
.site-header {
  background: $pc-pink;
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
}