//===============================================================================
// LAYOUT
//===============================================================================
.wrap{
  width: 66.666%;
  padding: 2em;
  margin: $header-height-large auto 0;
}