//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(0, 0, 0);
$link: hsl(220,100,40);
$header: $ink;

$body-font: sans-serif;

$header-height: 60px;
$footer-height: 100px;

$pc-pink:   #EE5080;
$pc-purple: #9B5CA4;
$pc-blue:   #0EA2DC;
$pc-aqua:   #37BEC0;
$pc-green:  #A4CE4E;
$pc-orange: #FAAD40;

$it-blue:   #0099E6;