//===============================================================================
// BLOG
//===============================================================================
.blog-header {
  background-color: $pc-aqua; 
  padding: $header-height-small 0 10px;
  position: relative;

  h2,
  h3 {
    color: white;
  }

  h2 {
    font-size: 42px;
    margin: 30px 0 10px;
  }

  h3 {
    font-weight: 300;
    line-height: 1.2;
  }
}

.blog-header-inner {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
}

.post {
  padding: 20px;
  font-size: 16px;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  
  h1, h2, h3, h4, h5, h6 {
    color: $pc-pink;
  }

  .post-title {
    font-size: 26px;
  }

  ul {
    list-style: disc;
    padding-left: 1em;
  }

  .tags {
  list-style: none;
  padding: 0;

    li{
      display: inline;
    }
  }
}

.post-content {
  max-width: 650px;
  margin: 0 auto;
}

.author  {
  display: inline;
  margin-right: 15px;
  font-size: 22px;
}

