//===============================================================================
// CONTACT
//===============================================================================
#map-canvas {
  z-index: 1;
  opacity: .6;
  position: fixed !important;
}

.address,
.phone-email {
  z-index: 2;
  position: absolute;
  left: 26px;

  span,
  a {
    display: block;
  }

  a {
    text-decoration: none;
  }
}

.address {
  top: 100px;
}

.phone-email {
  bottom: 40px;
}