//===============================================================================
// CONTACT
//===============================================================================
#map-canvas {
  z-index: 1;
  position: fixed !important;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla( 0, 0, 100, .4 );
  }
}

.address,
.phone-email {
  z-index: 2;
  position: absolute;
  left: 26px;

  span,
  a {
    display: block;
  }

  a {
    text-decoration: none;
  }
}

.address {
  top: 100px;
}

.phone-email {
  bottom: 40px;
}