//===============================================================================
// FOOTER
//===============================================================================
.site-footer {
  background: $paper;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}