//===============================================================================
// MEDIA-QUERIES
//===============================================================================
// Navigation media query
@media all and (min-width: 600px) {
  .site-header {
    height: $header-height-large;
    padding: 0 18px;
  }

  .site-logo-container{
    height: $header-height-large;

    // &:hover{
    //   .site-logo{
    //     -webkit-transform: rotateX(-90deg);   
    //     background: which-pebble(darken($pc-pink, 25), darken($it-blue, 15));
    //   }

    //   .site-logo-flip{
    //     -webkit-transform: rotateX(0deg);
    //     background: which-pebble(saturate(lighten($pc-pink, 7.5), 100), lighten($it-blue, 5));
    //   }
    // }
  }

  .site-logo{
    padding: 14px 12px 10px;
  }

  .site-logo-flip{
    padding: 14px 12px 10px;
  }

  .nav-btn{
    display: none;
  }

  .site-nav{
    position: static;

    ul{
      display: block;
      position: static;
      width: auto;
      padding: 0;
    }

    li{
      float: left;
      left: 0;
    }

    a{
      margin: 0;
      width: auto;
      padding: 0;
      display: inline-block;
      height: $header-height-large;
      text-decoration: none;
      position: static;
      text-align: center;

      &:first-child{
        margin: 0;
      }

      &::after{
        content: attr(data-page);
        position: absolute;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
        top: 0;
        left: 0;
        height: $header-height-large;
        line-height: $header-height-large;
        text-align: center;
        background: which-pebble($pc-pink, $it-blue);
        color: white;
        width: 100%;

        @include vendor( transform-origin, 50% 0% );
        @include vendor( transform, rotateX(0deg) );
        @include vendor( transition, -prefix- transform .2s, background .3s );
      }

      &:hover{
        &::after{
          background: which-pebble(darken($pc-pink, 25), darken($it-blue, 15));

          @include vendor( transform, rotateX( -90deg ) );
        }
        span{
          @include vendor( transform, rotateX( 0deg ) );
          background: which-pebble(saturate(lighten($pc-pink, 7.5), 100), lighten($it-blue, 5));
        }
      }
    }

    span{
      color: white;
      font-size: 20px;
      line-height: $header-height-large - 1px;
      height: $header-height-large;
      max-height: $header-height-large;
      font-weight: 700;
      padding: 0 12px;
      display: inline-block;
      background: which-pebble($pc-pink, $it-blue);
      
      @include vendor( transform-origin, 50% 100% );
      @include vendor( transform, rotateX( -90deg ) );
      @include vendor( transition, -prefix- transform .3s, background .3s );
    }

    li{
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    } 
  } // end .site-nav
} 