//===============================================================================
// PEOPLE
//===============================================================================
.people {
  top: 60px;
  position: relative;

  .name,
  .title{
    display: block;
    text-align: center;
    line-height: 1;
  }

  .name{
    font-weight: 700;
    margin-top: 8px;
  }

  img{
    width: 84%;
  }

  li{
    overflow: hidden;
  }
}

.vertical,
.horizontal,
.small-square,
.large-square {
  position: absolute;
  color: white;
  // padding: 10px;

  &:before{
    pointer-events:none;
  }

  &:before,
  &:after {
    position: absolute;
    // background-size: 100% 100%;
    background-repeat: no-repeat;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  &:after {
    border: 1px solid white;
  }
}

.color-1 {
  background-color: which-pebble( $pc-pink, $it-blue );
}

.color-2 {
  background-color: which-pebble( lighten( $pc-pink, 7.5 ) ,lighten( $it-blue, 7.5 ) ); 
}

.color-3 {
  background-color: which-pebble( lighten( $pc-pink, 15 ) ,lighten( $it-blue, 15 ) ); 
}

.color-4 {
  background-color: which-pebble( lighten( $pc-pink, 22.5 ) ,lighten( $it-blue, 22.5 ) ); 
}

.vertical {
  width: ( 100% / 6 );

  &:before{
    background-image: url( '../img/vertical.svg' );  
  }

  img{
    width: 180%;
  }
}

.horizontal {
  width: ( 100% / 3 );

  &:before {
    background-image: url( '../img/horizontal.svg' );  
  }

  img{
    width: 50%;
    position: relative;
    top: -40px;
  }

  .name,
  .title{
    text-align: right;
  }
}

.small-square {
  width: ( 100% / 6 );

  &:before { 
    background-image: url( '../img/small-square-1.svg' );
  }

  &:nth-child(odd):before {
    background-image: url( '../img/small-square-2.svg' );    
  }
}

.large-square {
  width: ( 100% / 3 );

  &:before { 
    background-image: url( '../img/large-square.svg' );
  }
}