//===============================================================================
// WORK
//===============================================================================
.astrazeneca {

}

.az-search-before,
.az-inovation-before {
  background-color: $code-green;
  font-size: 1.4em;

  h2{
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 0;
    font-family: "brandon-grotesque";
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
  }

  p,
  h2{
    color: white;
  }
}

.az-search-before {
  background-image: url('../img/az-intro-bg.svg');
  background-repeat: none;
  background-size: cover;
  background-position: 50% bottom;
  padding: 120px 10% 180px;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid white;
  }

  div{
    width: 50%;
    margin-top: 60px;

    &:nth-child(odd) {
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }
  }

  img{
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
  }
}

.az-search-after {
  padding: 0 10%;
  font-size: 1.4em;
  margin-bottom: -200px;

  p{
    margin: 160px 0;
    width: 65%;
    margin-left: 5%;
  }

  img{
    width: 30%;
  }

  div{
    position: relative;
    top: -100px;

    &:nth-child(2) {
      top: -180px;
    }

    &:nth-child(3) {
      top: -260px;

      p{
        margin-top: 100px;
      }
    }
  }
}

.az-inovation-before {
  padding: 80px 10% 120px;

  h2:nth-child(2){
    margin-bottom: 40px;
  }

  img {
    width: 60%;
    margin-left: 20%;
  }
}