//===============================================================================
// WORK
//===============================================================================
.astrazeneca {

}

.az-search-before,
.az-inovation-before {
  background-color: $code-green;
  font-size: 1.4em;

  h2{
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 0;
    font-family: "brandon-grotesque";
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
  }

  p,
  h2{
    color: white;
  }
}

.az-search-before {
  background-image: url('../img/az-intro-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% bottom;
  padding: 120px 10% 180px;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid white;
  }

  div{
    width: 50%;
    margin-top: 60px;

    &:nth-child(odd) {
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }
  }

  img{
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
  }
}

.az-search-after {
  padding: 0 10%;
  font-size: 1.4em;
  margin-bottom: -200px;

  p{
    margin: 160px 0;
    width: 65%;
    margin-left: 5%;
  }

  img{
    width: 30%;
  }

  div{
    position: relative;
    top: -100px;

    &:nth-child(2) {
      top: -180px;
    }

    &:nth-child(3) {
      top: -260px;

      p{
        margin-top: 100px;
      }
    }
  }
}

.az-inovation-before {
  padding: 120px 10% 120px;
  background-image: url('../img/az-brain-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% bottom;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid white;
  }

  h2:nth-child(2){
    margin-bottom: 40px;
  }

  img {
    width: 60%;
    margin-left: 20%;
  }
}

.az-inovation-after{
  padding: 80px 10%;
  font-size: 1.4em;

  .left{
    width: 50%;
  }

  img{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 80px;
  }
}

.reco-before{
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../img/reco-bg.svg');
  padding: 80px 10%;

  h2{
    color: white;
    line-height: 1;
    font-size: 60px;
    margin-bottom: 0;
  }

  .left{
    width: 47.5%;
    margin-right: 5%;
    text-align: center;

    &:last-child{
      margin-right: 0;
    }
  }

  .locate{
    margin-top: 80px;
  }

  p{
    color: white;
    text-align: left;
    font-size: 24px;
  }

  .last{
    margin-top: 20px;
  }
}

.reco-after{
  padding: 80px 10%;

  .left{
    width: 47.5%;
    margin-right: 5%;

    &:last-child{
      margin-right: 0;
    }
  }

  img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
  }
}

.bede-before{
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../img/bede-bg.svg');
  padding: 80px 10% 160px;

   h2{
    color: white;
    line-height: 1;
    font-size: 60px;
    margin-bottom: 0;
  }

  p{
    color: white;
    text-align: left;
    font-size: 24px;
  }

  .left{
    width: 47.5%;
    margin-right: 5%;

    &:last-child{
      margin-right: 0;
    }
  }

  img{
    width: 70%;
    margin: 40px 15%;
  }
}

.bede-after{
  padding: 80px 10%;

  .left{
    width: 47.5%;
    margin-right: 5%;
    text-align: center;

    &:last-child{
      margin-right: 0;
    }
  }

  p{
    text-align: left;
    margin-top: 80px;
  }

  img{
    max-height: 260px;
  } 
}






.it-work {
  padding-top: 60px;

  section {
    padding-left: 10%;
    padding-right: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .brit-before {
    padding-left: 0;
    padding-right: 0;
  }

  h2{
    color: white;
    line-height: 1;
    font-size: 60px;
    margin-bottom: 0;
  }

   .list-title {
    margin-bottom: 0;
   }
}

.it-work-intro {
  text-align: center;

  img {
    width: 60%;
    margin-top: 40px;
  }

  p{
    text-align: left;
  }

  .left {
    width: 30.6666%;
    margin-right: 3%;

    &:last-child{
      margin-right: 0;
    }
  }

}

.mb-before {
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 240px;
  background-image: url('../img/case-bg-1.svg');
  color: white;

  img{
    width: 80%;
    margin: 60px 0 60px 10%;
  }

  p{
    font-size: 24px;
  }
}

.mb-after {
  padding-top: 80px;
  padding-bottom: 80px;

  .left{
    width: 50%;
  }

  img{
    width: 60%;
    margin-left: 20%;
  }

  .network{
    margin-top: -60px;
    margin-bottom: 60px;
  }
}

.brit-before {
  background-image: url('../img/case-bg-2.svg');
  padding: 80px 0 280px;

  h2{
    margin-left: 10%;
  }

  p{
    color: white;
    font-size: 24px;
  }

  .clear-fix{
    margin-top: 60px;
  }

  img{
    width: 100%;
  }

  .left{
    width: 20%;

    &:first-child{
      margin-top: 100px;
    }

    &:nth-child(2){
      width: 60%;
      padding: 100px 5% 0;
    }
  }
}

.brit-after {
  padding-top: 80px;
  padding-bottom: 80px;

  .left{
    width: 65%;
    margin-bottom: 60px;

    &:nth-child(2){
      width: 30%;
      margin-left: 5%;
    }
  }

  .instant{
    width: 100%;
  }
}

.forpeople-before {
  background-image: url('../img/case-bg-3.svg');
  padding-top: 80px;
  padding-bottom: 240px;

  p{
    color: white;
    font-size: 24px;
  }

  .left{
    width: 35%;
    margin-top: 40px;

    &:nth-child(2){
      width: 60%;
      margin-left: 5%;
    }
  }

  img{
    width: 100%;
  }
}

.forpeople-after {
  padding-top: 80px;
  padding-bottom: 80px;

  img{
    width: 40%;
    margin: 0 0 40px 30%;
  }
}
