<a href="index.html" class="logo left">
  <img src="{{logo}}">
</a>
<nav class="site-nav right">
  <ul class="clear-fix">
    {{#each pages}}
      <li class="left"><a href="{{page}}.html" class="nav-item">{{page}}</a></li>
    {{/each}}
  </ul>
</nav>
<div class="site-menu"></div>